{% extends "base.html" %}
{% block content %}
      <div class="row">
        <div class="col-lg-6">
          <h4>{{ persons.name }}</h4>
          <h4>{{ persons.surname }}</h4>
          <h4>{{ persons.date_of_birth }}</h4>
          <h4>Bio:</h4>
          <p>{{ persons.bio }}</p>
        </div>

        <div class="col-lg-6">
          <h4>Contacts:</h4>
          <h4>Email: {{ persons.email }}</h4>
          <h4>Jabber: {{ persons.jabber }}</h4>
          <h4>Skype: {{ persons.skype }}</h4>
          <h4>Other contacts:</h4>
          <p>{{ persons.other_contacts }}</p>
        </div>
      </div>
{% endblock %}